.btn__scroll_up {
  box-sizing: content-box;
  position: fixed;
  right: 1rem;
  bottom: 10%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: gold no-repeat;
  border: 2px solid grey;
  transition: 200ms;
  z-index: 1;
}

.btn__scroll_up__icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: variables.$primary;
  stroke: variables.$primary;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.btn__scroll_up:hover {
  background-color: green;
}

.btn__scroll_up:hover .btn__scroll_up__icon {
  fill: white;
  stroke: white;
}
